@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: 'Lora', serif;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2em;
  font-weight: bolder;
  line-height: 1.5em;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  line-height: 1.5em;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
  line-height: 1em;
}

a:link,
a:visited {
  text-decoration: none;
  color: orange;
}

a:hover {
  text-decoration: underline;
  font-family: 'Lora', serif;
  color: black;
}

input {
  background-color: blanchedalmond;
  border: 1px solid orange;
  border-radius: 4px;
  margin: 0.2em 0;
  padding: 0.5em;
  font-family: 'Lora', serif;
}

button {
  border: 1px solid orange;
  border-radius: 4px;
  background-color: white;
  font-size: 0.8em;
  color: orange;
  margin: 0.5em 0;
  padding: 0.4em 1em;
}

button:hover {
  border-color: orange;
  background-color: blanchedalmond;
  color: orange;
  transition: 0.5s ease-in-out;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: 'Lora', serif;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-family: 'Lora', serif;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-family: 'Lora', serif;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-family: 'Lora', serif;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.j-start {
  justify-content: flex-start;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.j-evenly {
  justify-content: space-evenly;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}

.a-between {
  align-items: space-between;
}

.a-around {
  align-items: space-around;
}

.a-evenly {
  align-items: space-evenly;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.capitalize {
  text-transform: capitalize;
}

.orange {
  color: orange;
}
